<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>


    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Planitfrontend"
        tools:targetApi="31">
        <activity
            android:name=".view.WelcomePageActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" /> <!--make welcome activity default opening screen-->
            </intent-filter>
        </activity>
        <activity android:name=".view.MemberHomePageActivity" />
        <activity android:name=".view.OrganisationHomePageActivity" />
        <activity android:name=".view.SignupActivity"/>
        <activity android:name=".view.CreateEventActivity" />
        <activity android:name=".view.LoginActivity"/>
        <activity android:name=".view.UpdateEventActivity" />
        <activity android:name=".view.MyEventsActivity" />
            />

    </application>

</manifest>